<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXwL83s_lF-2dx_OMHb7dhKoAR6429-00</string>
	<key>GCM_SENDER_ID</key>
	<string>713288880543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>whatscookin.com</string>
	<key>PROJECT_ID</key>
	<string>what-scookin-bc99b</string>
	<key>STORAGE_BUCKET</key>
	<string>what-scookin-bc99b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713288880543:ios:76e1cb99e9957eacb16daa</string>
</dict>
</plist>